<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is the <%= bike.name %> bike</p>
    <p><%= bike.description %></p>
    <img src="<%= bike.img_url %>" />
    <p>There is <%=bike.number_in_stock %> in stock</p>
    <p>Each cost $<%=bike.price %></p>
    <a href="/bike/<%=bike._id%>/delete"><button>Delete bike</button></a>
    <a href="<%= bike.url%>/update"><button>Update bike</button></a>
  </body>
</html>
