<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p><%= title%></p>
    <form method="post">
      <input placeholder="name" name="name" value="<%= category?.name %>" />

      <input
        placeholder="descriotion"
        name="description"
        value="<%= category?.description %>"
      />

      <input
        placeholder="image url"
        name="img_url"
        value="<%= category?.img_url %>"
      />
      <button type="submit">Confirm</button>
    </form>
    <% if (errors && errors.length > 0) { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error?.msg %></li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
