<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% category_list.forEach(function(category) { %>
      <li><a href="<%= category.url %>"><%= category.name %></a></li>
      <% }); %>
    </ul>
    <a href="category/create"><button>Create new</button></a>
  </body>
</html>
