<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is the <%= category.name %> category</p>
    <p><%= category.description%></p>
    <img src="<%= category.img_url %>" />
    <ul>
      <% category_bikes.forEach(function(bike) { %>
      <li>
        <a href="<%= bike.url %>"><%= bike.name %></a>
      </li>
      <% }); %>
      <li>
        <a href="/bike/create?category=<%=category._id %>"
          ><button>Add bike</button></a
        >
      </li>
    </ul>

    <a href="/<%= category.url %>/delete"><button>Delete category</button></a>
    <a href="/<%= category.url %>/update"><button>Update category</button></a>
  </body>
</html>
